<%- include("partials/header"); -%>

  <h1><%=post.title%></h1>
  <p><%=post.content%></p>
  <form class="" action="/delete/<%= post._id %>" >
  <button type="submit" name="delButton">Delete</button>
  </form>
  <form class="" action="/posts/edit/<%= post._id %>" >
    <button type="submit" name="button">Edit</button>
  </form>

<%- include("partials/footer"); -%>
