<%- include("partials/header"); -%>

  <h1><%=post.title%></h1>
  <p><%=post.content%></p>
  <form class="" action="/posts/<%= post.id %>_method=DELETE">
  <button type="submit" name="delButton" value="<%= post.id %>">Delete</button>
  </form>

<%- include("partials/footer"); -%>
